@model CashRegister.Web.Models.Home.IndexViewModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/styles/bundle.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="~/scripts/bundle.js"></script>
</body>
</html>